body {
  min-width: 1280px;
}

/* 헤더 */
header {
  height: 81px;
  text-align: center;
  position: relative;
}
header h1 {
  position: absolute;
  left: 50px;
  top: 0;
  padding: 14px 0 0;
}
header h1 a {
  display: block;
  width: 110px;
  height: 48px;
  color: transparent;
  background: url(../images/sp_com.png) no-repeat -300px 0;
}
header .lnb li {
  display: inline-block;
}

header .lnb li a {
  display: block;
  height: 81px;
  line-height: 81px;
  padding: 0 35px;
  font-size: 17px;
  color: #333;
}
header .lnb li a:hover {
  color: #2d5b79;
  font-weight: bold;
}
header .lnb li a span {
  position: relative;
}

header .lnb li a:hover span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #2d5b79;
  position: absolute;
  left: 0;
  bottom: -9px;
}
header .spot {
  position: absolute;
  right: 50px;
  top: 0;
}
header .spot li {
  float: left;
  position: relative;
}
header .spot li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 7px;
  background: #ccc;
  transform: translateY(-50%);
}
header .spot li:first-child:after {
  display: none;
}

header .spot li a {
  display: block;
  height: 81px;
  line-height: 81px;
  padding: 0 10px;
}
header .spot li:last-child a {
  padding-right: 0;
}

/* 비주얼 */
.visual {
  padding: 0 50px;
  position: relative;
}
.visual .con > div {
  height: 640px;
}

.visual .con .slide {
  background: url(../images/bg_main01.jpg) no-repeat center;
  color: #fff;
  font-size: 32px;
  line-height: 46px;
}
.visual .con .slide .txt {
  position: absolute;
  left: 50%;
  top: 175px;
}
.visual .con .slide .txt p {
  font-size: 20px;
  line-height: 100%;
  padding: 19px 0 0;
}

/* 제품정보 */
.product a {
  display: block;
  color: #001829;
  font-size: 15px;
}
.product a:hover {
  color: #2d5b79;
  font-weight: bold;
}
.product a:before {
  content: "";
  display: block;
  width: 64px;
  height: 52px;
  background: url(../images/sp_com.png) no-repeat;
  margin: 0 0 26px;
}
.product ul {
  padding: 46px 0 41px;
  text-align: center;
  font-size: 0;
}
.product li {
  display: inline-block;
  text-align: center;
  padding: 0 55px;
}

.product li:nth-child(1) a:before {
  background-position: -3px -118px;
}
.product li:nth-child(2) a:before {
  background-position: -75px -118px;
}
.product li:nth-child(3) a:before {
  background-position: -148px -118px;
}
.product li:nth-child(4) a:before {
  background-position: -219px -118px;
}
.product li:nth-child(5) a:before {
  background-position: -292px -118px;
}
.product li:nth-child(6) a:before {
  background-position: -364px -118px;
}

.product li:nth-child(1) a:hover:before {
  background-position: -3px -184px;
}
.product li:nth-child(2) a:hover:before {
  background-position: -75px -184px;
}
.product li:nth-child(3) a:hover:before {
  background-position: -148px -184px;
}
.product li:nth-child(4) a:hover:before {
  background-position: -219px -184px;
}
.product li:nth-child(5) a:hover:before {
  background-position: -292px -184px;
}
.product li:nth-child(6) a:hover:before {
  background-position: -364px -184px;
}

/* 매거진 */
.magazine {
  background: #dfd9d1;
  height: 837px;
  position: relative;
  overflow: hidden;
}

.magazine h2 {
  text-align: center;
  font-size: 36px;
  color: #333;
  padding: 53px 0 9px 0;
}

.magazine > p {
  text-align: center;
  font-size: 18px;
  color: #3a3b36;
  padding: 0 0 44px;
}

/* 슬라이드 - 왼쪽 박스 영역 */
.magazine .slide_box > div {
  width: 1180px;
  height: 430px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.magazine .slide_box > div:nth-child(1) {
  margin-left: -1280px;
}

.magazine .slide_box > div:nth-child(3) {
  margin-left: 1280px;
}

.magazine .slide_box div .left {
  width: 800px;
  position: relative;
  overflow: hidden;
  float: left;
}

.magazine .slide_box div .left div {
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  padding: 47px 20px 0;
  box-sizing: border-box;
}

.magazine .slide_box .left div h3 {
  font-size: 20px;
  color: #fff;
  padding: 0 0 9px;
}

.magazine .slide_box .left div h3 span {
  font-size: 20px;
  font-weight: normal;
  display: block;
}

.magazine .slide_box .left div > p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.magazine .slide_box .left div > a {
  width: 160px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 50px;
}

.magazine .slide_box .left img {
  width: 107.5%;
}

/* 슬라이드 - 오른쪽 박스 영역 */
.magazine .slide_box .right {
  float: right;
  width: 380px;
  height: 430px;
  background: #fff;
  padding: 20px 20px 0;
  box-sizing: border-box;
}

.magazine .slide_box .right li {
  padding: 0 0 20px;
}

.magazine .slide_box .right li a {
  display: table;
  width: 100%;
}

.magazine .slide_box .right li a div {
  height: 82px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 100px;
  font-size: 16px;
  color: #333;
}

.magazine .slide_box .right li a div img {
  width: 82px;
  height: 82px;
  position: absolute;
  left: 0;
  top: 0;
}

.magazine .slide_box .right li a div strong {
  display: block;
  font-size: 13px;
  color: #000;
}

.magazine.slide .prev {
  left: 50%;
  margin: 26px 0 0 -640px;
}

.magazine.slide .next {
  right: 50%;
  margin: 26px -640px 0 0;
}

/* 배너 및 검색 영역 */
.notice > div {
  width: 1180px;
  margin: 0 auto;
  padding: 55px 0;
}

.notice > div .top ul {
  float: left;
}

.notice > div .top ul li {
  float: left;
  margin: 0 20px 0 0;
}

.notice > div .top ul li:nth-child(1) {
  background: url(../images/thumbview3.png) no-repeat;
}

.notice > div .top ul li:nth-child(2) {
  background: url(../images/thumbview3.png) no-repeat;
}

.notice > div .top ul li:nth-child(3) {
  background: url(../images/thumbview3.png) no-repeat;
}

.notice > div .top ul a {
  display: block;
  padding: 100px 0 0;
  width: 280px;
  height: 280px;
  text-align: center;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.notice > div .top ul a:hover {
  background: rgba(45, 91, 121, 0.5);
}

.notice > div .top ul a span {
  display: block;
  position: relative;
  top: -5px;
  opacity: 0;
  font-weight: normal;
  font-size: 14px;
  padding: 20px 0 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.notice > div .top ul a:hover span {
  top: 5px;
  opacity: 1;
}

.notice > div .top > div {
  float: left;
  width: 280px;
  height: 280px;
  padding: 36px 20px 0;
  background: #f2f0ed;
  box-sizing: border-box;
}

.notice > div .top > div h2 {
  font-size: 17px;
  text-align: center;
  color: #000;
  line-height: 100%;
  padding: 0 0 29px;
}

.notice > div .top > div > div {
  padding: 0 0 10px;
}

.notice > div .top > div .selectbox {
  background: #fff;
  position: relative;
  margin: 0 0 10px;
  padding: 0;
  box-sizing: border-box;
}

.notice > div .top > div .selectbox:before {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  background: url(../images/sp_com.png) -558px -129px no-repeat;
  position: absolute;
  top: 20px;
  right: 15px;
}

.notice > div .top > div > div label {
  line-height: 45px;
  font-size: 15px;
  color: #333;
  padding: 0 0 0 20px;
}

.notice > div .top > div select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.notice > div .top > div select,
.notice > div .top > div input {
  width: 100%;
  height: 45px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.notice > div .top > div select option {
  width: 100%;
  padding: 0 20px 0 0;
}

.notice > div .top > div input:-webkit-input-placeholder {
  color: #949394;
}

.notice > div .top > div a {
  display: block;
  height: 45px;
  background: #2d5b79;
  line-height: 45px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin: 20px 0 0;
}

/* footer 상단 */
.footer_top {
  background: #383f43;
  height: 100px;
}
.footer_top ul {
  padding: 0 0 0 52px;
  font-size: 14px;
}
.footer_top ul li {
  float: left;
  padding: 40px 16px 0 0;
}
.footer_top ul li a {
  font-size: 14px;
  color: #e5e6e7;
}
.footer_top ul li:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10px;
  background: #62686c;
  margin: 0 0 0 16px;
}
.footer_top .footer_top_info {
  float: right;
  margin: 25px 52px 0 0;
}
.footer_top .footer_top_info .info_tel {
  height: 60px;
  float: left;
  background: #2a3033;
  text-align: center;
  color: #e5e6e7;
  padding: 10px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}
.footer_top .footer_top_info .info_tel span {
  font-weight: bold;
  padding: 10px;
}
.footer_top .footer_top_info select {
  width: 160px;
  height: 60px;
}

/* slide 공통 */
.slide .prev,
.slide .next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 47px;
  background: url(../images/sp_com.png) no-repeat center;
  color: transparent;
  z-index: 10;
}
.slide .prev {
  left: 82px;
  background-position: -128px -60px;
}
.slide .next {
  right: 82px;
  background-position: -158px -60px;
}
.slide .control {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 55px;
  text-align: center;
}
.slide .control a {
  color: transparent;
}

.slide .control > div {
  display: inline-block;
  position: relative;
  padding: 0 45px 0 0;
}
.slide .control > div > div {
  position: absolute;
  right: 0;
}
.slide .control > div > div a {
  display: inline-block;
  width: 8px;
  height: 9px;
  overflow: hidden;
  background: url(../images/sp_com.png) no-repeat;
  margin: 0 0 0 7px;
  opacity: 0.5;
}
.slide .control > div > div a.on {
  opacity: 1;
}

.slide .control .play {
  background-position: -108px -72px;
}

.slide .control .pause {
  background-position: -108px -60px;
}

.slide .control ul {
  display: inline-block;
  font-size: 0;
  position: relative;
  top: -7px;
}
.slide .control ul li {
  display: inline-block;
  padding: 0 3px;
}
.slide .control ul li.on a {
  background: #fff;
}

.slide .control ul li a {
  display: block;
  width: 50px;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
}
